/*The element inside the header are divided in two section, one on le left side (the LOGO) and one in the right side (Home, Register and Login)*/
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
header div{
    padding: 10px 20px;
}

main{
    min-height: auto;


}
/* To modify all child elements of a <div> element, regardless of their type, you can use the CSS universal selector (*) in combination with the child combinator (>). */
.title > * {
    padding: 0.5rem 0;
  }


.title {
    padding: 1rem 0;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    */
  }

  footer{
    padding: 2rem 0;
  }

  .statistics-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.statistic {
    margin-bottom: 10px;
}

.statistic-label {
    font-weight: bold;
}

.statistic-value {
    font-size: 18px;
}


